<!DOCTYPE html>
<html>
  <% include ./common/head.ejs %>
  <body>
        <div class="page login-page">
                <div class="container">
                  <div class="form-outer text-center d-flex align-items-center">
                    <div class="form-inner" style="width: 600px">
                      <div class="logo text-uppercase"><span>US</span><strong class="text-primary">HOUSE</strong></div>
                      <p></p><br/>
                      <p style="color :red"><%= locals.message %></p>
                      <form class="text-left form-validate" method="POST" action="/admin/login">
                        <div class="form-group-material">
                          <input id="login-username" type="text" name="username" required data-msg="Please enter your username" class="input-material">
                          <label for="login-username" class="label-material active">Username</label>
                        </div>
                        <div class="form-group-material">
                          <input id="login-password" type="password" name="password" required data-msg="Please enter your password" class="input-material">
                          <label for="login-password" class="label-material active">Password</label>
                        </div>
                        <div class="form-group text-center">
                            <input type="submit" id="login"  class="btn btn-primary" style="width: 100%;" value="로그인"/>
                          <!-- This should be submit button but I replaced it with <a> for demo purposes-->
                        </div>
                      </form>
          
                    </div>
                    <div class="copyrights text-center">
                      <p>made by <a href="#!" class="external">usehouse & daham</a></p>
                      <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
                    </div>
                  </div>
                </div>
              </div>
    <% include ./common/footerScript.ejs %>
  </body>
</html>