<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <title>INTRO</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-2.1.0.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="public/client/css/intro.css">
  </head>
  <body>
    <p class="description">
      반갑습니다. 창원시 유아교사의 직장 및 일상생활에서의 시간사용과 만족도 조사에 참여해주셔서 진심으로 감사드립니다. 시간, 감정 일지를 작성하기에 앞서서 기본적인 조사 항목에 대해서 여쭤보겠습니다. 기본 조사 항목은 일상적인 삶에 대한 만족도와 관련된 질문들과 인적사항에 대한 질문으로 구성됩니다. 스스로 느끼기에 가장 적합하다고 생각되는 항목을 선택하거나 적절한 정보를 기입해주세요.
    </p>

    <div class="check-container" style="border:0">
      <p class="question">
        Q1. 모든 것을 고려하였을 때, 평소 자신의 <u>삶에 대한 전체적인 만족도</u>는 어떠하신가요?
      </p>
      <div class="button-wrap" style="text-align: center;">
        <input class="hidden radio-label" type="radio" name="question1" id="question1_1" value="매우 불만족"/>
        <label class="button-label" for="question1_1">
          <span>(1) 매우 불만족</span>
        </label>
        <input class="hidden radio-label" type="radio" name="question1" id="question1_2" value="다소 불만족"/>
        <label class="button-label" for="question1_2">
          <span>(2) 다소 불만족</span>
        </label>
        <input class="hidden radio-label" type="radio" name="question1" id="question1_3" value="보통"/>
        <label class="button-label" for="question1_3">
          <span>(3) 보통</span>
        </label>
        <input class="hidden radio-label" type="radio" name="question1" id="question1_4" value="다소 만족"/>
        <label class="button-label" for="question1_4">
          <span>(4) 다소 만족</span>
        </label>
        <input class="hidden radio-label" type="radio" name="question1" id="question1_5" value="매우 만족"/>
        <label class="button-label" for="question1_5">
          <span>(5) 매우 만족</span>
        </label>
      </div>
    </div>

    <div class="check-container" style="border:0">
      <p class="question">
        Q2. 이제 집에서의 생활을 생각해보았을 때, 평소 자신의 <u>집에서의 삶의 만족도</u>는 어떠하신가요?
      </p>
      <div class="button-wrap" style="text-align: center;">
        <input class="hidden radio-label" type="radio" name="question2" id="question2_1" value="매우 불만족"/>
        <label class="button-label" for="question2_1">
          <span>(1) 매우 불만족</span>
        </label>
        <input class="hidden radio-label" type="radio" name="question2" id="question2_2" value="다소 불만족"/>
        <label class="button-label" for="question2_2">
          <span>(2) 다소 불만족</span>
        </label>
        <input class="hidden radio-label" type="radio" name="question2" id="question2_3" value="보통"/>
        <label class="button-label" for="question2_3">
          <span>(3) 보통</span>
        </label>
        <input class="hidden radio-label" type="radio" name="question2" id="question2_4" value="다소 만족"/>
        <label class="button-label" for="question2_4">
          <span>(4) 다소 만족</span>
        </label>
        <input class="hidden radio-label" type="radio" name="question2" id="question2_5" value="매우 만족"/>
        <label class="button-label" for="question2_5">
          <span>(5) 매우 만족</span>
        </label>
      </div>
    </div>

    <div class="check-container" style="border:0">
      <p class="question">
        Q3. 이제 직장에서의 생활을 생각해보았을 때, 평소 자신의 <u>직장에서의 삶의 만족도</u>는 어떠하신가요?
      </p>
      <div class="button-wrap" style="text-align: center;">
        <input class="hidden radio-label" type="radio" name="question3" id="question3_1" value="매우 불만족"/>
        <label class="button-label" for="question3_1">
          <span>(1) 매우 불만족</span>
        </label>
        <input class="hidden radio-label" type="radio" name="question3" id="question3_2" value="다소 불만족"/>
        <label class="button-label" for="question3_2">
          <span>(2) 다소 불만족</span>
        </label>
        <input class="hidden radio-label" type="radio" name="question3" id="question3_3" value="보통"/>
        <label class="button-label" for="question3_3">
          <span>(3) 보통</span>
        </label>
        <input class="hidden radio-label" type="radio" name="question3" id="question3_4" value="다소 만족"/>
        <label class="button-label" for="question3_4">
          <span>(4) 다소 만족</span>
        </label>
        <input class="hidden radio-label" type="radio" name="question3" id="question3_5" value="매우 만족"/>
        <label class="button-label" for="question3_5">
          <span>(5) 매우 만족</span>
        </label>
      </div>
    </div>

    <div class="check-container" style="border:0">
      <p class="question">
        Q4. 현재 근무 중인 직장의 정기휴일 형태는 무엇인가요?
      </p>
      <div class="button-wrap" style="text-align: center;">
        <input class="hidden radio-label" type="radio" name="question4" id="question4_1" value="일주일에 1일 휴무"/>
        <label class="button-label" for="question4_1">
          <span>(1) 일주일에 1일 휴무</span>
        </label>
        <input class="hidden radio-label" type="radio" name="question4" id="question4_2" value="일주일에 1일 휴무와 토요일 격주 휴무"/>
        <label class="button-label" for="question4_2">
          <span>(2) 일주일에 1일 휴무와 토요일 격주 휴무</span>
        </label>
        <input class="hidden radio-label" type="radio" name="question4" id="question4_3" value="일주일에 2일 휴무(주5일제)"/>
        <label class="button-label" for="question4_3">
          <span>(3) 일주일에 2일 휴무(주5일제)</span>
        </label>
        <input class="hidden radio-label" type="radio" name="question4" id="question4_4" value="2주마다 1일 휴무"/>
        <label class="button-label" for="question4_4">
          <span>(4) 2주마다 1일 휴무</span>
        </label>
        <input class="hidden radio-label" type="radio" name="question4" id="question4_5" value="일정한 휴일 없이 수시로 쉼"/>
        <label class="button-label" for="question4_5">
          <span>(5) 일정한 휴일 없이 수시로 쉼</span>
        </label>
        <input class="hidden radio-label" type="radio" name="question4" id="question4_6" value="기타"/>
        <label class="button-label" for="question4_6">
          <span>(6) 기타</span>
        </label>
      </div>
    </div>

    <div class="check-container" style="border:0">
      <p class="question">
        Q5. 평소 시간이 부족하다고 느끼는 정도는 어떻게 되시나요?
      </p>
      <div class="button-wrap" style="text-align: center;">
        <input class="hidden radio-label" type="radio" name="question5" id="question5_1" value="항상 부족함"/>
        <label class="button-label" for="question5_1">
          <span>(1) 항상 부족함</span>
        </label>
        <input class="hidden radio-label" type="radio" name="question5" id="question5_2" value="가끔 부족함"/>
        <label class="button-label" for="question5_2">
          <span>(2) 가끔 부족함</span>
        </label>
        <input class="hidden radio-label" type="radio" name="question5" id="question5_3" value="약간 여유있음"/>
        <label class="button-label" for="question5_3">
          <span>(3) 약간 여유있음</span>
        </label>
        <input class="hidden radio-label" type="radio" name="question5" id="question5_4" value="항상 여유있음"/>
        <label class="button-label" for="question5_4">
          <span>(4) 항상 여유있음</span>
        </label>
      </div>
    </div>

    <div class="check-container" style="border:0">
      <p class="question">
        Q6. 시간부족의 주된 이유는 다음 중 무엇인가요?
      </p>
      <div class="button-wrap" style="text-align: center;">
        <input class="hidden radio-label" type="radio" name="question6" id="question6_1" value="직장 일"/>
        <label class="button-label" for="question6_1">
          <span>(1) 직장 일</span>
        </label>
        <input class="hidden radio-label" type="radio" name="question6" id="question6_2" value="자기학습"/>
        <label class="button-label" for="question6_2">
          <span>(2) 자기학습</span>
        </label>
        <input class="hidden radio-label" type="radio" name="question6" id="question6_3" value="자녀 보육, 교육"/>
        <label class="button-label" for="question6_3">
          <span>(3) 자녀 보육, 교육</span>
        </label>
        <input class="hidden radio-label" type="radio" name="question6" id="question6_4" value="가사"/>
        <label class="button-label" for="question6_4">
          <span>(4) 가사</span>
        </label>
        <input class="hidden radio-label" type="radio" name="question6" id="question6_5" value="교제와 사회활동"/>
        <label class="button-label" for="question6_5">
          <span>(5) 교제와 사회활동</span>
        </label>
        <input class="hidden radio-label" type="radio" name="question6" id="question6_6" value="이동시간"/>
        <label class="button-label" for="question6_6">
          <span>(6) 이동시간</span>
        </label>
        <input class="hidden radio-label" type="radio" name="question6" id="question6_7" value="기타"/>
        <label class="button-label" for="question6_7">
          <span>(7) 기타</span>
        </label>
      </div>
    </div>

    <div class="check-container" style="border:0">
      <p class="question">
        Q7. 평소 스스로의 시간활용에 대해서 얼마나 만족하시나요?
      </p>
      <div class="button-wrap" style="text-align: center;">
        <input class="hidden radio-label" type="radio" name="question7" id="question7_1" value="매우 불만족"/>
        <label class="button-label" for="question7_1">
          <span>(1) 매우 불만족</span>
        </label>
        <input class="hidden radio-label" type="radio" name="question7" id="question7_2" value="다소 불만족"/>
        <label class="button-label" for="question7_2">
          <span>(2) 다소 불만족</span>
        </label>
        <input class="hidden radio-label" type="radio" name="question7" id="question7_3" value="보통"/>
        <label class="button-label" for="question7_3">
          <span>(3) 보통</span>
        </label>
        <input class="hidden radio-label" type="radio" name="question7" id="question7_4" value="다소 만족"/>
        <label class="button-label" for="question7_4">
          <span>(4) 다소 만족</span>
        </label>
        <input class="hidden radio-label" type="radio" name="question7" id="question7_5" value="매우 만족"/>
        <label class="button-label" for="question7_5">
          <span>(5) 매우 만족</span>
        </label>
      </div>
    </div>

    <div class="check-container" style="border:0">
      <p class="question">
        Q8. 평소 하루일과 후 피곤함을 느끼는 정도는 어떻게 되시나요?
      </p>
      <div class="button-wrap" style="text-align: center;">
        <input class="hidden radio-label" type="radio" name="question8" id="question8_1" value="매우 피곤"/>
        <label class="button-label" for="question8_1">
          <span>(1) 매우 피곤</span>
        </label>
        <input class="hidden radio-label" type="radio" name="question8" id="question8_2" value="조금 피곤"/>
        <label class="button-label" for="question8_2">
          <span>(2) 조금 피곤</span>
        </label>
        <input class="hidden radio-label" type="radio" name="question8" id="question8_3" value="거의 피곤하지 않음"/>
        <label class="button-label" for="question8_3">
          <span>(3) 거의 피곤하지 않음</span>
        </label>
        <input class="hidden radio-label" type="radio" name="question8" id="question8_4" value="전혀 피곤하지 않음"/>
        <label class="button-label" for="question8_4">
          <span>(4) 전혀 피곤하지 않음</span>
        </label>
      </div>
    </div>

    <div class="check-container" style="border:0">
      <p class="question">
        Q9. 피곤함을 느끼는 주된 이유는 다음 중 무엇인가요?
      </p>
      <div class="button-wrap" style="text-align: center;">
        <input class="hidden radio-label" type="radio" name="question9" id="question9_1" value="직장 일"/>
        <label class="button-label" for="question9_1">
          <span>(1) 직장 일</span>
        </label>
        <input class="hidden radio-label" type="radio" name="question9" id="question9_2" value="자기 학습"/>
        <label class="button-label" for="question9_2">
          <span>(2) 자기 학습</span>
        </label>
        <input class="hidden radio-label" type="radio" name="question9" id="question9_3" value="자녀 보육, 교육"/>
        <label class="button-label" for="question9_3">
          <span>(3) 자녀 보육, 교육</span>
        </label>
        <input class="hidden radio-label" type="radio" name="question9" id="question9_4" value="가사"/>
        <label class="button-label" for="question9_4">
          <span>(4) 가사</span>
        </label>
        <input class="hidden radio-label" type="radio" name="question9" id="question9_5" value="인간관계"/>
        <label class="button-label" for="question9_5">
          <span>(5) 인간관계</span>
        </label>
        <input class="hidden radio-label" type="radio" name="question9" id="question9_6" value="건강상태"/>
        <label class="button-label" for="question9_6">
          <span>(6) 건강상태</span>
        </label>
        <input class="hidden radio-label" type="radio" name="question9" id="question9_7" value="주변 환경,시설"/>
        <label class="button-label" for="question9_7">
          <span>(7) 주변 환경,시설</span>
        </label>
        <input class="hidden radio-label" type="radio" name="question9" id="question9_8" value="기타"/>
        <label class="button-label" for="question9_8">
          <span>(8) 기타</span>
        </label>
      </div>
    </div>

    <div class="check-container" style="border:0">
      <p class="question">
        Q10. 스스로의 건강상태를 평가한다면 다음 중 어디에 속하시나요?
      </p>
      <div class="button-wrap" style="text-align: center;">
        <input class="hidden radio-label" type="radio" name="question10" id="question10_1" value="매우 나쁨"/>
        <label class="button-label" for="question10_1">
          <span>(1) 매우 나쁨</span>
        </label>
        <input class="hidden radio-label" type="radio" name="question10" id="question10_2" value="나쁜 편"/>
        <label class="button-label" for="question10_2">
          <span>(2) 나쁜 편</span>
        </label>
        <input class="hidden radio-label" type="radio" name="question10" id="question10_3" value="보통"/>
        <label class="button-label" for="question10_3">
          <span>(3) 보통</span>
        </label>
        <input class="hidden radio-label" type="radio" name="question10" id="question10_4" value="좋은 편"/>
        <label class="button-label" for="question10_4">
          <span>(4) 좋은 편</span>
        </label>
        <input class="hidden radio-label" type="radio" name="question10" id="question10_5" value="매우 좋음"/>
        <label class="button-label" for="question10_5">
          <span>(4) 매우 좋음</span>
        </label>
      </div>
    </div>

    <div class="check-container" style="border:0">
      <p class="question">
        Q11. 본인의 성별은 무엇인가요?
      </p>
      <div class="button-wrap" style="text-align: center;">
        <input class="hidden radio-label" type="radio" name="question11" id="question11_1" value="남"/>
        <label class="button-label" for="question11_1">
          <span>(1) 남</span>
        </label>
        <input class="hidden radio-label" type="radio" name="question11" id="question11_2" value="여"/>
        <label class="button-label" for="question11_2">
          <span>(2) 여</span>
        </label>
      </div>
    </div>

    <div class="check-container" style="border:0">
      <p class="question">
        Q12. 본인이 태어난 연도는?
      </p>
      <div class="form-group">
        <input type="text" class="form-control" name="question12" id="question12" placeholder="직접기입">
      </div>
    </div>

    <div class="check-container" style="border:0">
      <p class="question">
        Q13. 본인의 거주하는 지역은? (도, 시(군), 동 순서로 입력)
      </p>
      <div class="form-group">
        <input type="text" class="form-control" name="question13_1" id="question13_1" placeholder="광역시">
        <input type="text" class="form-control" name="question13_2" id="question13_2" placeholder="시/군/구">
        <input type="text" class="form-control" name="question13_3" id="question13_3" placeholder="동">
      </div>
    </div>

    <div class="check-container" style="border:0">
      <p class="question">
        Q14. 본인의 학력 경로는? (해당되는 과정을 모두 기입해주세요. 본인 학력에 해당 사항이 없는 과정은 비워두세요)
      </p>
      <div class="button-wrap" style="text-align: center;">
        <p class="sub-question">가. 고졸 이하: </p>
        <input class="hidden radio-label" type="radio" name="question14_a" id="question14_a_1" value="예"/>
        <label class="button-label" for="question14_a_1">
          <span>(1) 예</span>
        </label>
        <input class="hidden radio-label" type="radio" name="question14_a" id="question14_a_2" value="아니오"/>
        <label class="button-label" for="question14_a_2">
          <span>(2) 아니오</span>
        </label>

        <p class="sub-question">나. 2~3년제 대학교 : </p>
        <input class="hidden radio-label" type="radio" name="question14_b" id="question14_b_1" value="자퇴/퇴학"/>
        <label class="button-label" for="question14_b_1">
          <span>(1) 자퇴/퇴학</span>
        </label>
        <input class="hidden radio-label" type="radio" name="question14_b" id="question14_b_2" value="휴학"/>
        <label class="button-label" for="question14_b_2">
          <span>(2) 휴학</span>
        </label>
        <input class="hidden radio-label" type="radio" name="question14_b" id="question14_b_3" value="수료"/>
        <label class="button-label" for="question14_b_3">
          <span>(3) 수료</span>
        </label>
        <input class="hidden radio-label" type="radio" name="question14_b" id="question14_b_4" value="졸업"/>
        <label class="button-label" for="question14_b_4">
          <span>(4) 졸업</span>
        </label>
        <div class="form-group">
          <input type="text" class="form-control" name="question14_b" id="question14_b_5" placeholder="출신학교">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="question14_b" id="question14_b_6" placeholder="출신학과">
        </div>

        <p class="sub-question">다. 4년제 대학교 : </p>
        <input class="hidden radio-label" type="radio" name="question14_c" id="question14_c_1" value="자퇴/퇴학"/>
        <label class="button-label" for="question14_c_1">
          <span>(1) 자퇴/퇴학</span>
        </label>
        <input class="hidden radio-label" type="radio" name="question14_c" id="question14_c_2" value="휴학"/>
        <label class="button-label" for="question14_c_2">
          <span>(2) 휴학</span>
        </label>
        <input class="hidden radio-label" type="radio" name="question14_c" id="question14_c_3" value="수료"/>
        <label class="button-label" for="question14_c_3">
          <span>(3) 수료</span>
        </label>
        <input class="hidden radio-label" type="radio" name="question14_c" id="question14_c_4" value="졸업"/>
        <label class="button-label" for="question14_c_4">
          <span>(4) 졸업</span>
        </label>
        <div class="form-group">
          <input type="text" class="form-control" name="question14_c" id="question14_c_5" placeholder="출신학교">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="question14_c" id="question14_c_6" placeholder="출신학과">
        </div>


        <p class="sub-question">라. 대학원(석사) : </p>
        <input class="hidden radio-label" type="radio" name="question14_d" id="question14_d_1" value="자퇴/퇴학"/>
        <label class="button-label" for="question14_d_1">
          <span>(1) 자퇴/퇴학</span>
        </label>
        <input class="hidden radio-label" type="radio" name="question14_d" id="question14_d_2" value="휴학"/>
        <label class="button-label" for="question14_d_2">
          <span>(2) 휴학</span>
        </label>
        <input class="hidden radio-label" type="radio" name="question14_d" id="question14_d_3" value="수료"/>
        <label class="button-label" for="question14_d_3">
          <span>(3) 수료</span>
        </label>
        <input class="hidden radio-label" type="radio" name="question14_d" id="question14_d_4" value="졸업"/>
        <label class="button-label" for="question14_d_4">
          <span>(4) 졸업</span>
        </label>
        <div class="form-group">
          <input type="text" class="form-control" name="question14_d" id="question14_d_5" placeholder="출신학교">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="question14_d" id="question14_d_6" placeholder="출신학과">
        </div>

        <p class="sub-question">마.대학원(박사) : </p>
        <input class="hidden radio-label" type="radio" name="question14_e" id="question14_e_1" value="자퇴/퇴학"/>
        <label class="button-label" for="question14_e_1">
          <span>(1) 자퇴/퇴학</span>
        </label>
        <input class="hidden radio-label" type="radio" name="question14_d" id="question14_e_2" value="휴학"/>
        <label class="button-label" for="question14_e_2">
          <span>(2) 휴학</span>
        </label>
        <input class="hidden radio-label" type="radio" name="question14_d" id="question14_e_3" value="수료"/>
        <label class="button-label" for="question14_e_3">
          <span>(3) 수료</span>
        </label>
        <input class="hidden radio-label" type="radio" name="question14_d" id="question14_e_4" value="졸업"/>
        <label class="button-label" for="question14_e_4">
          <span>(4) 졸업</span>
        </label>
        <div class="form-group">
          <input type="text" class="form-control" name="question14_e" id="question14_e_5" placeholder="출신학교">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="question14_e" id="question14_e_6" placeholder="출신학과">
        </div>
      </div>

    </div>

    <div class="check-container" style="border:0">
      <p class="question">
        Q15. 어린이집 혹은 유치원 또는 다른 직종을 포함한 직장 근무 기간은?
      </p>
      <div class="form-group" style="display:flex;">
        <input type="text" class="form-control" name="question15_1" id="question15_1" placeholder="년">
        <input type="text" class="form-control" name="question15_2" id="question15_2" placeholder="월">
      </div>
    </div>

    <div class="check-container" style="border:0">
      <p class="question">
        Q16. 어린이집 혹은 유치원에 근무한 기간은?
      </p>
      <div class="form-group" style="display:flex;">
        <input type="text" class="form-control" name="question16_1" id="question16_1" placeholder="년">
        <input type="text" class="form-control" name="question16_2" id="question16_2" placeholder="월">
      </div>
    </div>

    <div class="check-container" style="border:0">
      <p class="question">
        Q17. 현재 근무 중인 어린이집 혹은 유치원에 근무한 기간은?
      </p>
      <div class="form-group" style="display:flex;">
        <input type="text" class="form-control" name="question17_1" id="question17_1" placeholder="년">
        <input type="text" class="form-control" name="question17_2" id="question17_2" placeholder="월">
      </div>
    </div>

    <div class="check-container" style="border:0">
      <p class="question">
        Q18. 결혼유무?
      </p>
      <div class="button-wrap" style="text-align: center;">
        <input class="hidden radio-label" type="radio" name="question18" id="question18_1" value="미혼"/>
        <label class="button-label" for="question18_1">
          <span>(1) 미혼 </span>
        </label>
        <input class="hidden radio-label" type="radio" name="question18" id="question18_2" value="기혼"/>
        <label class="button-label" for="question18_2">
          <span>(2) 기혼 </span>
        </label>
        <input class="hidden radio-label" type="radio" name="question18" id="question18_3" value="이혼, 별거"/>
        <label class="button-label" for="question18_3">
          <span>(3) 이혼, 별거</span>
        </label>
        <input class="hidden radio-label" type="radio" name="question18" id="question18_4" value="사별"/>
        <label class="button-label" for="question18_4">
          <span>(4) 사별</span>
        </label>
      </div>
    </div>

    <div class="check-container" style="border:0">
      <p class="question">
        Q19. 자녀 숫자?
      </p>
      <div class="button-wrap" style="text-align: center;">
        <input class="hidden radio-label" type="radio" name="question19" id="question19_1" value="0"/>
        <label class="button-label" for="question19_1">
          <span>(1) 0 </span>
        </label>
        <input class="hidden radio-label" type="radio" name="question19" id="question19_2" value="1"/>
        <label class="button-label" for="question19_2">
          <span>(2) 1 </span>
        </label>
        <input class="hidden radio-label" type="radio" name="question19" id="question19_3" value="2"/>
        <label class="button-label" for="question19_3">
          <span>(3) 2</span>
        </label>
        <input class="hidden radio-label" type="radio" name="question19" id="question19_4" value="3"/>
        <label class="button-label" for="question19_4">
          <span>(4) 3</span>
        </label>
        <input class="hidden radio-label" type="radio" name="question19" id="question19_5" value="3명 이상"/>
        <label class="button-label" for="question19_5">
          <span>(5) 3명 이상</span>
        </label>
      </div>
    </div>

    <div class="check-container" style="border:0">
      <p class="question">
        Q20. 자녀 중 가장 나이가 많은 자녀의 나이는?:
      </p>
      <div class="form-group">
        <input type="text" class="form-control" name="question20" id="question20" placeholder="직접기입">
      </div>
    </div>

    <div class="check-container" style="border:0">
      <p class="question">
        Q21. 본인을 포함하여, 집에 같이 거주 중인 사람 수는?
      </p>
      <div class="form-group">
        <input type="text" class="form-control" name="question21" id="question21" placeholder="직접기입">
      </div>
    </div>

    <div class="check-container" style="border:0">
      <p class="question">
        Q22. 배우자의 근로 여부? (배우자가 존재하지 않는 경우 아니오를 선택해주세요)
      </p>
      <div class="button-wrap" style="text-align: center;">
        <input class="hidden radio-label" type="radio" name="question22" id="question22_1" value="예"/>
        <label class="button-label" for="question22_1">
          <span>(1) 예 </span>
        </label>
        <input class="hidden radio-label" type="radio" name="question22" id="question22_2" value="아니오"/>
        <label class="button-label" for="question22_2">
          <span>(2) 아니오 </span>
        </label>
      </div>
    </div>

    <div class="check-container" style="border:0">
      <p class="question">
        Q23. 지난 1년간 월평균 총 가구소득은?
      </p>
      <div class="button-wrap" style="text-align: center;">
        <input class="hidden radio-label" type="radio" name="question23" id="question23_1" value="50만원 미만"/>
        <label class="button-label" for="question23_1">
          <span>(1) 50만원 미만 </span>
        </label>
        <input class="hidden radio-label" type="radio" name="question23" id="question23_2" value="50-100만원 미만"/>
        <label class="button-label" for="question23_2">
          <span>(2) 50-100만원 미만 </span>
        </label>
        <input class="hidden radio-label" type="radio" name="question23" id="question23_3" value="100-150만원 미만"/>
        <label class="button-label" for="question23_3">
          <span>(3) 100-150만원 미만</span>
        </label>
        <input class="hidden radio-label" type="radio" name="question23" id="question23_4" value="150-200만원"/>
        <label class="button-label" for="question23_4">
          <span>(4) 150-200만원</span>
        </label>
        <input class="hidden radio-label" type="radio" name="question23" id="question23_5" value="200-250만원"/>
        <label class="button-label" for="question23_5">
          <span>(5) 200-250만원</span>
        </label>
        <input class="hidden radio-label" type="radio" name="question23" id="question23_6" value="250-300만원"/>
        <label class="button-label" for="question23_6">
          <span>(6) 250-300만원 </span>
        </label>
        <input class="hidden radio-label" type="radio" name="question23" id="question23_7" value="350-400만원"/>
        <label class="button-label" for="question23_7">
          <span>(7) 350-400만원 </span>
        </label>
        <input class="hidden radio-label" type="radio" name="question23" id="question23_8" value="450-500만원"/>
        <label class="button-label" for="question23_8">
          <span>(8) 450-500만원</span>
        </label>
        <input class="hidden radio-label" type="radio" name="question23" id="question23_9" value="500~550만원"/>
        <label class="button-label" for="question23_9">
          <span>(9) 500~550만원</span>
        </label>
        <input class="hidden radio-label" type="radio" name="question23" id="question23_10" value="550~600만원"/>
        <label class="button-label" for="question23_10">
          <span>(9) 550~600만원</span>
        </label>
        <input class="hidden radio-label" type="radio" name="question23" id="question23_11" value="600~650만원"/>
        <label class="button-label" for="question23_11">
          <span>(9) 600~650만원</span>
        </label>
        <input class="hidden radio-label" type="radio" name="question23" id="question23_12" value="650~700만원"/>
        <label class="button-label" for="question23_12">
          <span>(9) 650~700만원</span>
        </label>
        <input class="hidden radio-label" type="radio" name="question23" id="question23_13" value="700~750만원"/>
        <label class="button-label" for="question23_13">
          <span>(9) 700~750만원</span>
        </label>
        <input class="hidden radio-label" type="radio" name="question23" id="question23_14" value="750~800만원"/>
        <label class="button-label" for="question23_14">
          <span>(9) 750~800만원</span>
        </label>
        <input class="hidden radio-label" type="radio" name="question23" id="question23_15" value="800만원 이상"/>
        <label class="button-label" for="question23_15">
          <span>(9) 800만원 이상</span>
        </label>
      </div>
    </div>

    <button type="button" id="introSubmit" class="btn btn-success" style="width:100%;" onclick="complete()">작성완료</button>
</div>

<br>
</div>

<script>

 function complete(){
   var input_group = $(".form-group .form-control");
   var radio_group = $(".button-wrap .radio-label");
   let data = {};

    //select
    // var U_PURCHASE_DISABLE_METHOD = $(":input:radio[name=U_PURCHASE_DISABLE_METHOD]:checked").val();
    // user_history_data.U_PURCHASE_DISABLE_METHOD = U_PURCHASE_DISABLE_METHOD;
    //input
    $.each(input_group,function(index,input){
        let value = $(input).val();
        let label = $(input).attr('name');

        data[label] = value
    });

    $.each(radio_group,function(index,input){

        let label = $(input).attr('name');
        let value = $(":input:radio[name="+label+"]:checked").val() == undefined ? '' : $(":input:radio[name="+label+"]:checked").val()

        data[label] = value
    });
    console.log(data);


     $.ajax({
              type: "POST",
              url: '/intro',
              data: {data : data},
              timeout: 1000000,
              success: function (json) {
                  console.log(json)
                  if(json.success == 200){
                    console.log(json);
                    alert(json.message);
                    location.href = '/main';

                  }else{
                    alert(json.message)
                  }
              },
              error: function (e) {
                  console.log(e);
              }
          });

 }




</script>
  </body>
</html>
