<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>설문 로그인</title>
    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <link rel="stylesheet" href="public/client/css/login.css">
  </head>
  <body>
    <div class="wrapper">
    	<div class="container">
    		<h1>Welcome</h1>

    		<form class="form">
    			<input type="text" id="phonenumber" placeholder="핸드폰 번호">
    			<input type="password" id="password" placeholder="비밀번호">
    			<button type="submit" id="login-button">로그인</button>
          <button type="register" id="register-button">회원가입</button>
    		</form>
    	</div>

    	<ul class="bg-bubbles">
    		<li></li>
    		<li></li>
    		<li></li>
    		<li></li>
    		<li></li>
    		<li></li>
    		<li></li>
    		<li></li>
    		<li></li>
    		<li></li>
    	</ul>
    </div>
  </body>

  <script type="text/javascript">
    $("#login-button").click(function(event){
       event.preventDefault();
       //check if user exists, if user logins the FIRST TIME, redirect accordingly


         console.log('login');
        //  window.location.href = "index.html";
        let phonenumber = $("#phonenumber").val();
        let password = $("#password").val();
        if(!phonenumber){
          alert('아이디(핸드폰번호)를 입력하세요');
          $("#phonenumber").focus();
          return false;
        }
        if(!password){
          alert('비밀번호를 입력하세요');
          $("#password").focus();
          return false;
        }
        $.ajax({
              type: "POST",
              url: '/login',
              data: {phonenumber : phonenumber, password : password},
              timeout: 1000000,
              success: function (json) {
                  console.log(json)
                  if(json.success == 200){
                    console.log(json);

                    $('form').fadeOut(500,  function(e) {
                      $('.wrapper').addClass('form-success');
                      location.href = '/intro'
                    })
                  }else{
                    alert('잘못 입력하셨습니다. 회원가입/혹은 올바른 정보를 입력해주세요');
                  }
              },
              error: function (e) {
                  console.log(e);
              }
          });


    });

    $("#register-button").click(function(event){
       event.preventDefault();

       $('form').fadeOut(500,  function(e) {
         $('.wrapper').addClass('form-success');
         console.log('register');
         window.location.href = "/register";
       });

    });
  </script>
</html>
