<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>설문 회원가입</title>
    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <link rel="stylesheet" href="public/client/css/register.css">
  </head>
  <body>
    <div class="wrapper">
    	<div class="container">
    		<h1 id="name" value="<%= locals.name %>">회원가입</h1>

    		<form class="form">
    			<input id="phonenumber" type="text" placeholder="핸드폰 번호">
          <!-- <input id="name" type="text" placeholder="이름" > -->
    			<input id="password" type="password" minlength="4" maxlength="4" placeholder="비밀번호(네자리숫자)">
          <input id="passwordcheck" type="password" minlength="4" maxlength="4" placeholder="비밀번호 확인">
    			<!-- <button type="submit" id="login-button">로그인</button> -->
          <button type="register" id="register-button">회원가입</button>
    		</form>
    	</div>

    	<ul class="bg-bubbles">
    		<li></li>
    		<li></li>
    		<li></li>
    		<li></li>
    		<li></li>
    		<li></li>
    		<li></li>
    		<li></li>
    		<li></li>
    		<li></li>
    	</ul>
    </div>
  </body>

  <script type="text/javascript">
    function isCellPhone(p) {

      p = p.split('-').join('');

      var regPhone = /^((01[1|6|7|8|9])[1-9]+[0-9]{6,7})|(010[1-9][0-9]{7})$/;

      return regPhone.test(p);

    }

    $("#register-button").click(function(event){
       event.preventDefault();
       //check for empty inputs
       var phonenumber = $("#phonenumber").val();
       var name = $("#name").attr('value');
       var password = $("#password").val();
       var passwordcheck = $("#passwordcheck").val();

       if(!phonenumber) {
         alert('핸드폰 번호를 입력해주세요!');
         $("#phonenumber").focus();
         return false;
       }

       if(!isCellPhone(phonenumber)){
         alert('핸드폰 번호를 확인해주세요!');
         $("#phonenumber").focus();
         return false;
       }

       // if(!name) {
       //   alert('이름를 입력해주세요!');
       //   $("#name").focus();
       //   return false;
       // }
       if(!password) {
         alert('비밀번호를 입력해주세요!');
         $("#password").focus();
         return false;
       }

       if(password.length < 4){
         alert('비밀번호 4자리로 입력해주세요!');
         $("#password").focus();
         return false;
       }

       if(!passwordcheck) {
         alert('비밀번호 확인을 입력해주세요!');
         $("#passwordcheck").focus();
         return false;
       }
       if(password !== passwordcheck) {
         alert('입력하신 비밀번호가 일치하지 않습니다!');
         $("#passwordcheck").focus();
         return false;
       }


       $.ajax({
              type: "POST",
              url: '/register',
              data: {phonenumber : phonenumber, password : password, name : name},
              timeout: 1000000,
              success: function (json) {
                  console.log(json)
                  if(json.success == 200){
                    console.log(json);
                    console.log(json.message);
                    $('form').fadeOut(500,  function(e) {
                      $('.wrapper').addClass('form-success');
                      location.href = '/'
                    })
                  }else{
                    alert(json.message);
                    $("#phonenumber").focus();
                  }
              },
              error: function (e) {
                  console.log(e);
              }
          });


    });
  </script>
</html>
