
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Trive Api Doc</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <style>
        /* Sticky footer styles
        -------------------------------------------------- */
        html {
        position: relative;
        min-height: 100%;
        }
        body {
        margin-bottom: 60px; /* Margin bottom by footer height */
        }
        .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 60px; /* Set the fixed height of the footer here */
        line-height: 60px; /* Vertically center the text there */
        background-color: #f5f5f5;
        }


        /* Custom page CSS
        -------------------------------------------------- */
        /* Not required for template or sticky footer method. */

        .container {
        width: auto;
        max-width: 680px;
        padding: 0 15px;
        }
    </style>
  </head>

  <body>

    <div class="container-fulid" style="padding: 100px;">
        <h1 class="mt-5">Trive API</h1>
        <p class="lead"TEMP URL : http://13.125.248.39</p>
      <div class="row">
          <div class="col-sm-3">
              <nav id="navbar-example3" class="navbar navbar-light bg-light" style="position: fixed;">
           
                  <nav class="nav nav-pills flex-column" style="font-size: 10px;">
                      <a class="nav-link" href="#item-0">COMMON</a>
		      
                      <nav class="nav nav-pills flex-column">
                        <a class="nav-link ml-3 my-1" href="#item-0-1">image Upload</a>
                     
                     
                      </nav>
                    <a class="nav-link" href="#item-1">ADMIN</a>
                    <nav class="nav nav-pills flex-column">
                      <a class="nav-link ml-3 my-1" href="#item-1-1">Vehicle Create</a>
                      <a class="nav-link ml-3 my-1" href="#item-1-2">Vehicle Image Create</a>
                      <a class="nav-link ml-3 my-1" href="#item-1-3">Vehicle Read</a>
                      <a class="nav-link ml-3 my-1" href="#item-1-4">Vehicle Read One</a>
                      <a class="nav-link ml-3 my-1" href="#item-1-5">Vehicle Update</a>
                      <a class="nav-link ml-3 my-1" href="#item-1-6">Vehicle Delete</a>
                   
                    </nav>
                    <a class="nav-link" href="#item-2">CLIENT</a>
                    <nav class="nav nav-pills flex-column">
                      <a class="nav-link ml-3 my-1" href="#item-2-1">User Login</a>
                      <a class="nav-link ml-3 my-1" href="#item-2-2">User Regist</a>
                      <a class="nav-link ml-3 my-1" href="#item-2-3">User Image Create</a>
                      <a class="nav-link ml-3 my-1" href="#item-2-4">Vehicle Read</a>
                    </nav>
                  </nav>
                </nav>
          </div>
          <div class="col-sm-9">
              <div data-spy="scroll" data-target="#navbar-example3" data-offset="0">
                  <h4 id="item-0" style="color : rgb(218, 66, 180)">COMMON</h4>
                  <br/>
	          <p>TEMP API URL : http://13.125.248.39 </p>
		<br/><br/>
                  <h5 id="item-0-1">Image upload</h5>
                  <div class="card">
                      <div class="card-header">
                        POST
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">Request    :::       /api/image_upload</h5>
                        <p class="card-text">Body{ file : file}</p>
                        <h5 class="card-title">Response</h5>
                        <p class="card-text">{
                          success : 200,
                          url : url
                        
                        }</p>
                        
                      </div>
                    </div>
                    <br/><br/>
                  <h4 id="item-1" style="color : rgb(218, 66, 180)">Admin</h4>
                  <br/><br/><br/>
                  <h5 id="item-1-1">Vehicle Create</h5>
                  <div class="card">
                      <div class="card-header">
                        POST
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">Request    :::       /api/admin/vehicle</h5>
                        <p class="card-text">Body{ <br/>
                            &nbsp&nbsp carType : carType<br/>
                            &nbsp&nbsp colorExterior : colorExterior<br/>
                            &nbsp&nbsp colorInterior : colorInterior<br/>
                            &nbsp&nbsp cylinder : cylinder<br/>
                            &nbsp&nbsp door : door<br/>
                            &nbsp&nbsp drivetrain : drivetrain<br/>
                            &nbsp&nbsp features : features<br/>
                            &nbsp&nbsp fuel : fuel<br/>
                            &nbsp&nbsp fuelEconomy : fuelEconomy<br/>
                            &nbsp&nbsp latitude : latitude<br/>
                            &nbsp&nbsp longitude : longitude<br/>
                            &nbsp&nbsp make : make<br/>
                            &nbsp&nbsp model : model<br/>
                            &nbsp&nbsp trim : trim<br/>
                            &nbsp&nbsp subscriptionStart : subscriptionStart<br/>
                          }</p>
                        <h5 class="card-title">Response</h5>
                        <p class="card-text">{
                          success : 200  
                        
                        }</p>
                        
                      </div>
                    </div>
                    <br/><br/>
                  <h5 id="item-1-2">Vehicle Image Create</h5>
                  <div class="card">
                      <div class="card-header">
                        POST
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">Request    :::       /api/admin/vehicle</h5>
                        <p class="card-text">Body{ vid : id, image : url}</p>
                        <h5 class="card-title">Response</h5>
                        <p class="card-text">{
                          success : 200  
                        
                        }</p>
                        
                      </div>
                    </div>
                    <br/><br/>
                  <h5 id="item-1-3">Vehicle Read</h5>
                  <div class="card">
                      <div class="card-header">
                        GET
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">Request    :::       /api/admin/vehicle</h5>
                        <h5 class="card-title">Response</h5>
                        <p class="card-text">{
                            "success": 200,
                            "vehicles": [{
                                
                            }, ...]
                        }</p>
                        
                      </div>
                    </div>
                    <br/><br/>
                  <h5 id="item-1-4">Vehicle Read One</h5>
                  <div class="card">
                      <div class="card-header">
                        GET
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">Request    :::       /api/admin/vehicle/:id</h5>
                        <h5 class="card-title">Response</h5>
                        <p class="card-text">{
                            "success": 200,
                            "vehicles": [{
                                
                            }]
                        }</p>
                        
                      </div>
                    </div>
                    <br/><br/>
                  <h5 id="item-1-5">Vehicle Update</h5>
                  <div class="card">
                      <div class="card-header">
                        PUT
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">Request    :::       /api/admin/vehicle</h5>
                        <p class="card-text">Body{ <br/>
                            &nbsp&nbsp carType : carType<br/>
                            &nbsp&nbsp colorExterior : colorExterior<br/>
                            &nbsp&nbsp colorInterior : colorInterior<br/>
                            &nbsp&nbsp cylinder : cylinder<br/>
                            &nbsp&nbsp door : door<br/>
                            &nbsp&nbsp drivetrain : drivetrain<br/>
                            &nbsp&nbsp features : features<br/>
                            &nbsp&nbsp fuel : fuel<br/>
                            &nbsp&nbsp fuelEconomy : fuelEconomy<br/>
                            &nbsp&nbsp latitude : latitude<br/>
                            &nbsp&nbsp longitude : longitude<br/>
                            &nbsp&nbsp make : make<br/>
                            &nbsp&nbsp model : model<br/>
                            &nbsp&nbsp trim : trim<br/>
                            &nbsp&nbsp subscriptionStart : subscriptionStart<br/>
                          }</p>
                        <h5 class="card-title">Response</h5>
                        <p class="card-text">{
                          success : 200  
                        
                        }</p>
                        
                      </div>
                    </div>
                    <br/><br/>
                  <h5 id="item-1-6">Vehicle Delete</h5>
                  <div class="card">
                      <div class="card-header">
                        DELETE
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">Request    :::       /api/admin/vehicle/:id</h5>
                        
                        <h5 class="card-title">Response</h5>
                        <p class="card-text">{
                          success : 200  
                        
                        }</p>
                        
                      </div>
                    </div>
                    <br/><br/>

                  <h4 id="item-2" style="color : rgb(218, 66, 180)">Client</h4>
                  <p>...</p>
                  <h5 id="item-2-1">User Login</h5>
                  <div class="card">
                      <div class="card-header">
                        POST
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">Request    :::       /api/user/login</h5>
                        <p class="card-text">Body{ email : email, password : password}</p>
                        <h5 class="card-title">Response</h5>
                        <p class="card-text">{
                          success : 200  
                        
                        }</p>
                        
                      </div>
                    </div>
                    <br/><br/>
                  <h5 id="item-2-2">User Regist</h5>
                  <div class="card">
                      <div class="card-header">
                        POST
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">Request    :::       /api/admin/regist</h5>
                        <p class="card-text">Body{<br/>
                            &nbsp&nbsp name<br/>
                            &nbsp&nbsp phone<br/>
                            &nbsp&nbsp email<br/>
                            &nbsp&nbsp password<br/>
                            &nbsp&nbsp birthYear<br/>
                            &nbsp&nbsp birthMonth<br/>
                            &nbsp&nbsp birthDay<br/>
                            &nbsp&nbsp subscriptionType<br/>
                            &nbsp&nbsp licenseFront<br/>
                            &nbsp&nbsp licenseBack  <br/>
                        
                        }</p>
                        <h5 class="card-title">Response</h5>
                        <p class="card-text">{<br/>
                          success : 200,<br/>
                          data : {<br/>
                            &nbsp&nbsp name<br/>
                            &nbsp&nbsp phone<br/>
                            &nbsp&nbsp email<br/>
                            &nbsp&nbsp birthYear<br/>
                            &nbsp&nbsp birthMonth<br/>
                            &nbsp&nbsp birthDay<br/>
                            &nbsp&nbsp subscriptionType<br/>
                            &nbsp&nbsp licenseFront<br/>
                            &nbsp&nbsp licenseBack<br/>
                          }<br/>
                        
                        }</p>
                        
                      </div>
                    </div>
                    <br/><br/>

                    <h5 id="item-2-3">User Image Create</h5>
                    <div class="card">
                        <div class="card-header">
                          POST
                        </div>
                        <div class="card-body">
                          <h5 class="card-title">Request    :::       /api/user/image</h5>
                          <p class="card-text">Body{ uid : uid, position : 'fron' or 'backend', license_image : url}</p>
                          <h5 class="card-title">Response</h5>
                          <p class="card-text">{
                            success : 200  
                          
                          }</p>
                          
                        </div>
                      </div>
                      <br/><br/>
                  <h5 id="item-2-3">Vehicle Read</h5>
                  <p>...</p>
                  
                </div>
          </div>

      </div>
     
    </div>

    <footer class="footer">
      <div class="container">
        <span class="text-muted">Place sticky footer content here.</span>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  </body>
</html>
