.fc-head, .fc-body {
  font-size: 3vw;
}

.fc-header-toolbar {
  font-size: 2.5vw;
}

.fc-time-grid .fc-slats td {
  height: 3rem;
}

.fc-time-grid-event .fc-time, .fc-title {
  font-size: 4vw;
  font-weight: bold;
  text-align: center;
}

.fixed-top {
  width: 100%;
  /* height: 100px; */
  font-size: 4vw;
  text-align: center;
  top: 0;
  left: 0;
  z-index: 10;
  /* background-color: #A5D6A7; */
}

#addButton {
  position: fixed;
  bottom: 0;
  right: 10px;
  width: 70px;
  height: 70px;
  z-index: 10;
  cursor: pointer;
}

#addButton.active {
  opacity: .5;
}

#currentButton {
  position: fixed;
  bottom: 10px;
  left: 10px;
  width: 40px;
  height: 40px;
  z-index: 10;
  cursor: pointer;
}

#title, #time {
  font-weight: bold;
  font-size: 4vw;
  line-height: 8vw;
}

#calendar {
  /* padding-top: 25vw; */
  padding-top: 10px;
}

#dayDisplay, #nextdayDisplay, #bothdayDisplay {
  /* float: right; */
  padding: 0 20px;
  /* height: 100%; */
}

button.btn-mobileSelect-gen:not([class*=col-]):not([class*=form-control]):not(.input-group-btn):not(.btn-block) {
  width: 100%;
}
