@import url(https://fonts.googleapis.com/css?family=Lato:300,400,900);
* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
html {
  background-color: #A5D6A7;
  /* height: 100%; */
}
body {
  /* height: 100%; */
  overflow: hidden;
}

.fc-ltr .fc-time-grid .fc-event-container {
  margin: 0;
}
.check-label-container {
  height: 100%;
  min-height: 100%;
  margin: 0 auto;
  /* margin-top: 30px; */
  padding: 10px 0 0 0;
  border-bottom: 1px solid #dedede;
}

.label-button-wrap {
  position: relative;
  text-align: center;
  top: 50%;
  margin-top: -1.5em;
  text-align: right;
}

.label-button-wrap label {
  background-color: transparent;
}
.check-container {
  height: 100%;
  min-height: 100%;
  margin: 0 auto;
  /* margin-top: 30px; */
  padding: 10px 0;
  border-bottom: 1px solid #dedede;
}
.button-wrap {
  position: relative;
  text-align: center;
  top: 50%;
  margin-top: -1.5em;
  text-align: right;
}
@media (max-width: 40em) {
  .button-wrap {
    margin-top: -1.5em;
  }
}

.button-label {
  display: inline-block;
  padding: 1em 2em;
  margin: 0.5em;
  cursor: pointer;
  color: #292929;
  border-radius: 0.25em;
  background: #efefef;
  /* box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0 -3px 0 rgba(0, 0, 0, 0.22); */
  transition: 0.3s;
  user-select: none;
}

.button-wrap.location .button-label {
  width: 50px;
  padding: 10px 0;
}
.button-label h1 {
  font-size: 1em;
  font-family: "Lato", sans-serif;
}
.button-label:hover {
  background: #d6d6d6;
  color: #101010;
  /* box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0 -3px 0 rgba(0, 0, 0, 0.32); */
}
.button-label:active {
  transform: translateY(2px);
  /* box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0px -1px 0 rgba(0, 0, 0, 0.22); */
}
@media (max-width: 40em) {
  .button-label {
    padding: 0em 0.6em 3px;
    margin: 0.25em;
  }
}
/* #house-e:checked + .button-label, #house:checked + .button-label {
  background: #2ecc71;
  color: #efefef;
}
#house-e:checked + .button-label:hover , #house:checked + .button-label:hover {
  background: #29b765;
  color: #e2e2e2;
}
#work:checked + .button-label {
  background: #d91e18;
  color: #efefef;
}
#work:checked + .button-label:hover {
  background: #c21b15;
  color: #e2e2e2;
}
#outside:checked + .button-label {
  background: #4183d7;
  color: #efefef;
}
#outside:checked + .button-label:hover {
  background: #2c75d2;
  color: #e2e2e2;
}
#transportation:checked + .button-label {
  background: #4183d7;
  color: #efefef;
}
#transportation:checked + .button-label:hover {
  background: #2ecc71;
  color: #efefef;
} */

.location:checked + .button-label {
  background: #2ecc71;
  color: #efefef;
}
.location:checked + .button-label:hover {
  background: #2ecc71;
  color: #efefef;
}

.options:checked + .button-label {
  background: #4183d7;
  color: #efefef;
}
.options:checked + .button-label:hover {
  background: #4183d7;
  color: #efefef;
}
.hidden {
  display: none;
}

#timeEditButton.active, #locationEditButton.active, #emotionEditButton.active, #contentEditButton.active {
    opacity: 0.5;
}

#startMessage , #endMessage {
  position: absolute;
  /* bottom: 0; */
  width: 100%;
  display: none;
  z-index: 1000;
}

.modal-title span{
  padding: 5px;
}
